.sponsor {
  display: flex;
  flex: 1;
  clear: both;
  min-height: 200px;
  overflow: hidden;
  .sponsor__image-holder {
    float: left;
    flex: 2;
    margin-right: @margin-horizontal-lg;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sponsor__image {
    display: block;
    max-height: 200px;
  }
  .sponsor__text {
    flex: 6;
    min-height: 200px;
    display: flex;
    align-items: center;
    &:extend(.text);
  }
  .sponsor__image--large {
    min-height: 350px;
  }
}