.sponsor {
  clear: both;
  height: auto;
  min-height: 200px;
  overflow: hidden;
  .sponsor__image-holder {
    display: flex;
    float: left;
    width: 200px;
    height: 200px;
  }
  .sponsor__image {
    display: block;
    margin: auto;
    height: auto;
    width: 100%;
    float: left;
  }
  .sponsor__text {
    font-weight: normal;
    font-style: normal;
    line-height: 23px;
    color: #727272;
  }
}