.button {
  text-transform: uppercase;
  border-radius: 3px;
  white-space: no-wrap;
  text-align: center;
  padding: 15px;
  Link,
  a {
    letter-spacing: 1px;
    color: @off-white;
    font-size: 18px;
    font-family: @roboto;
    font-weight: 600;
    transition: all 0.3s ease;
    text-decoration: none;
  }
}

.button.frc {
  background-color: @green-darkest;
}