.sponsors {
  .sponsor__hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid @gray-1;
  }

  h2 {
    text-transform: uppercase;
    text-align: center;
    color: @text-1;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    text-align: center;
  }

  .sponsors__heading {
    font-family: 'Raleway',
      sans-serif;
    color: @text-2;
    font-size: 36px;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 20px;
    margin-top: 60px;
    padding-top: 10px;
    border-bottom: 2px solid @text;
  }
}