.index__wrapp {
    background: grey;
		font: 14px 'Open Sans', sans-serif;
		font-weight: normal;
		font-style: normal;
		line-height: 23px;
		color: #727272;
}
@import './../index/components/navigationBox/navigation-box.import.less';
