.index__wrapp {
    background: grey;
		font: 14px 'Open Sans', sans-serif;
		font-weight: normal;
		font-style: normal;
		line-height: 23px;
		color: #727272;
}
.index__navigation-box strong {
	font-weight: bold;
	font-size: 28px;
}
.index__navigation-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 50px 50px;
	height: auto;
	width: auto;
	margin: auto;
	max-width: 1250px;
}
.index__navigation-box .index__navigation-box--images {
	width: 100%;
	height: 100%;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}
.index__navigation-box .flex-item {
	width: 250px;
	height: auto;
	background-color: #D3D3D3;
	margin: auto;
	padding: 10px 10px;
	margin-top: 20px;
}
