.event {
  flex: 3;
  text-align: left;
  margin: 20px;
  border-radius: 3px;
  .event__image-holder {
    width: 100%;
    background-color: @white;
    height: 250px; // overflow: hidden;
    text-align: center;
  }
  .event__image {
    background-color: @white;
    border-radius: 0;
    margin-bottom: -6px;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .event__header {
    background-color: @white;
    color: @text-1;
    font-size: 24px;
    font-weight: 400;
  }
  .event__details {
    background-color: @white;
    width: 100%;
    font-size: 15px;
    padding: 15px 20px;
  }
  .event__divider {
    color: @gray-2;
    width: 100%;
    margin: 0;
  }
  .event__links {
    background-color: @white;
    width: 100%;
    font-family: @open-sans;
    padding: 20px 20px 40px 20px;
    li {
      list-style: none;
    }
    .event__url {
      background-color: @white;
      font-weight: 500;
      color: @purple-ws-1;
      text-decoration: none;
      float: left;
      margin-right: 23px;
    }
    .event__location {
      color: @purple-ws-1;
      font-weight: 500;
      text-decoration: none;
      float: left;
    }
  }
}