.tabs {
  overflow: hidden;
  width: 100%;
  margin: 0px;
  padding: 0px;
  .tabs__head {
    position: fixed;
    float: left;
  }
  .tabs__content {
    width: 95%;
    padding-top: 1em;
    z-index: 99;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
  }
  ul {
    list-style-type: none;
  }
  a {
    position: relative;
    background: #ddd;
    padding: .2em 1.5em;
    float: left;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
    &:hover {
      background: #FFF;
    }
  }
}