body,
html {
  // overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.frcHome {
  // overflow-x: hidden;
  // overflow-y: hidden;
  margin: 0;
  padding: 0;

  .frcHome__banner {
    background-image: url('../../../assets/images/frc/background/home-background-ps.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh; // overflow: hidden;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media (max-width: 650px) and (min-width: 350px) {
      padding: 0 5%;
      min-height: 100vh;
      position: relative;
      top: 65px;
    }

    @media (max-width: 350px) {
      padding: 0 5%;
      min-height: 130vh;
      position: relative;
      top: 65px;
    }

    .frcHome__banner-text-container {
      max-width: 800px;

      .frcHome__banner-title {
        color: @white;
        font-family: @raleway;
        font-weight: 600;
        font-size: 50px;
        letter-spacing: 3px;
        margin-bottom: 0.67em;
        text-transform: uppercase;

        @media (max-width: 468px) {
          font-size: 40px;
        }
      }

      .frcHome__banner-subtitle {
        color: @off-white;
        font-family: 'Raleway', sans-serif;
        font-size: 25px;
        font-weight: 200;
        line-height: 32px;
        margin-top: -20px;
        margin-bottom: 20px;

        @media (max-width: 468px) {
          font-size: 20px;
        }
      }

      .frcHome__banner-description {
        color: @white;
        font-family: @raleway;
        font-size: 18px;
        letter-spacing: 0.8px;
        line-height: 200%;
        margin-bottom: 20px;

        @media (max-width: 468px) {
          font-size: 12px;
        }
      }

      @media (max-width: 650px) {
        margin: auto;
      }
    }
  }

  .frcHome__events {
    background-color: #eee;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;

    @media (max-width: 650px) {
      padding: 20vh 0;
    }

    .frcHome__events-header {
      color: @text-1;
      font-size: 38px;
      font-weight: 600;
      margin-bottom: -10px;
      font-family: @raleway;
      letter-spacing: 0.0625em;
      text-transform: uppercase;
      padding: 5px;
    }

    .frcHome__events-container {
      // text-align: center;
      padding-right: 5vw;
      padding-left: 5vw;
      display: flex;
      flex: 1;

      @media screen and (max-width: 650px) {
        display: block;
      }
    }
  }

  .frcHome__news {
    background-color: @text-1;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;

    .frcHome__news-header {
      color: @off-white;
      font-size: 38px;
      font-weight: 600;
      margin-bottom: -10px;
      font-family: @raleway;
      letter-spacing: 0.0625em;
      text-transform: uppercase;
      padding: 5px;
    }

    .frcHome__news-container {
      text-align: center;
      padding-right: 5vw;
      padding-left: 5vw;
      display: flex;
      flex: 1;

      @media screen and (max-width: 650px) {
        display: block;
      }
    }
  }

  .frcHome__sponsors {
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin-bottom: -10px;

    .frcHome__sponsors-header {
      color: @text-1;
      font-size: 38px;
      font-weight: 600;
      font-family: @raleway;
      letter-spacing: 0.0625em;
      text-transform: uppercase;
      padding: 5px;
    }

    .frcHome__sponsors-description {
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .frcHome__sponsors-container {
      text-align: center;
      padding-right: 5vw;
      padding-left: 5vw;
    }
  }
}