.sponsortag {
  margin: 10px 20px;
  display: inline-block;
  .sponsortag__image {
    height: 80px;
    width: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}