.sponsortag {
  display: inline-block;
  margin: 0px 20px;
  width: 130px;
  height: 130px;

  @media screen and (max-width: 768px) {
    margin-top: 20px;
  }

  .sponsortag__image {
    max-height: 130px;
    max-width: 130px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}