.home {
  margin: 0;
  padding: 0;
  .home__banner {
    height: 80vh;
    width: 100vw;
    background-image: url('../../../assets/images/frc/home-hero-lg.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    .home__banner-text-container {
      max-width: 800px;
      .home__banner-title {
        font-family: @raleway;
        font-weight: 600;
        font-size: 50px;
        color: @white;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin-bottom: 0.67em;
      }
      .home__banner-subtitle {
        color: @off-white;
        font-family: 'Raleway', sans-serif;
        font-size: 25px;
        font-weight: 200;
        line-height: 32px;
        margin-top: -20px;
        margin-bottom: 20px;
      }
      .home__banner-description {
        font-family: @raleway;
        letter-spacing: 0.8px;
        font-size: 18px;
        line-height: 200%;
        margin-bottom: 20px;
        color: @white;
      }
    }
  }
}