.competition {
  .tabs {
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: space-around;
    border-bottom: 1px solid @purple-ws-2;
    li {
      width: 100%;
      text-align: center;
      padding: 10px 15px;
      a {
        color: @text-1;
        text-decoration: none;
        transition: all 0.4s;
        &:hover {
          color: @purple-ws-2;
        }
      }
    }
  }
}