.index__navigation-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 10px 50px;
	height: auto;
	width: auto;
	margin: auto;
	max-width: 1200px;
	strong {
		vertical-align: middle;
		font-weight: bold;
		font-size: 28px;
		color: white;
	}
	.index__navigation-box--images {
		width: 320px;
		height: 213px;
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
		margin: 0;
		overflow: hidden;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
	}
	.flex-item {
		text-align: center;
		width: 320px;
		height: auto;
		background-color: #43942d;
		margin: auto;
		padding-bottom: 10px;
		margin-top: 20px;
		min-height: 250px;
		border-radius: 10px;
	}
	.zoom-twist {
		overflow: hidden;
		img {
			-webkit-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
		}
		img:hover {
			-webkit-transform: rotate(360deg) scale(1.1);
			transform: rotate(2deg) scale(1.2);
		}
	}
}
