.index__navigation-box strong {
	vertical-align: middle;
	font-weight: bold;
	font-size: 28px;
}
.index__navigation-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 10px 50px;
	height: auto;
	width: auto;
	margin: auto;
	max-width: 1400px;
}
.index__navigation-box .index__navigation-box--images {
	width: 320px;
	height: 213px;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}
.index__navigation-box .flex-item {
	text-align: center;
	width: 350px;
	height: auto;
	background-color: #D3D3D3;
	margin: auto;
	padding: 15px 10px;
	margin-top: 20px;
	min-height: 250px;
}
