.sponsors {
  .sponsor__hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #eee;
  }

  .sponsors__heading {
    font-family: 'Raleway',
      sans-serif;
    color: #4a4a4a;
    font-size: 36px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
  }
}