/* Styles that apply to all parts of the site */

body,
input,
textarea {
  .text;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  color: @green-1;
  &:hover {
    color: @green-2;
  }
}

.demoTitle {
  color: pink;
}
