// font variables
@raleway: "Raleway", sans-serif;
@open-sans: "Open Sans", sans-serif;
@roboto: "Roboto", sans-serif;
@lato: "Lato", sans-serif;
// text sizes
@text-size-md: 16px;
@text-size-lg: 22px;
@text-size-subtitle: 30px;
@text-size-title: 36px;
//Screen Sizes for Compatibility
@screen-sm: 450px;
@screen-md: 768px;
@screen-lg: 1000px;
// color variables
@text: #727272;
@text-1: #242424;
@text-2: #4a4a4a;
@text-3: #959595;
@green-1: #226b10;
@green-2: #3d8c29;
@green-3: #51ba36;
@green-4: #3dc67a;
@green-5: #43eb85;
@purple-7: #180744;
@purple-6: #30116d;
@purple-5: #300880;
@purple-4: #c7b1f3;
@purple-3: #6737c8;
@purple-2: #5d31b6;
@purple-ws-1: #330066;
@purple-ws-2: #9900ff;
@purple-ws-3: #663399;
@white: #ffffff;
@off-white: #f7f7f7;
@gray-1: #eeeeee;
@gray-2: #d2d2d2;
@black: #000000;
@gray-3: #c9c9c9;

// mixins
.raleway-bold {
  font-family: @raleway;
  font-weight: 600;
}

.raleway-regular {
  font-family: @raleway;
  font-weight: 200;
}

.button (@color) {
  display: block;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.65em;
  font-size: 16px;
  text-align: center;
  color: @color;
  border: solid 2px @color;
  border-radius: 3px;
}

// image mixins
.bg-image (@size ) {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: @size;
}
