.sidemenu {
  font-family: "Arial", serif;
  z-index: 6;
  .sidemenu__burger {
    position: sticky;
    right: 20px;
    margin-top: 20px;
    float: right;
    &:hover {
      cursor: pointer;
    }
  }
  .sidemenu__background {
    display: none;
    background-color: #000;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    transition: 0.5s;
  }
  .sidemenu__nav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 4;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 0;
    right: -250px;
    background-color: #180744; // overflow: hidden;
    transition: 0.5s;
  }
  .sidemenu__close {
    color: #d2d2d2;
    margin-left: 10px;
    position: absolute;
    top: 10px;
    text-decoration: none;
    font-size: 40px;
    cursor: pointer;
    &:hover {
      color: #fff;
    }
  }
  .sidemenu__list {
    padding: 10px;
    margin-top: 40px;
  }
  .sidemenu--link {
    display: block;
    z-index: 5;
    color: #d2d2d2;
    padding: 20px 0;
    text-decoration: none;
    float: left;
    margin-left: 20px;
    font-weight: 600;
    font-family: 'raleway', sans-serif;
    font-size: 20px;
    width: 100%;
    &:hover {
      color: #fff;
      cursor: pointer;
    }
  }
  .sidemenu--link.title {
    padding-bottom: 10px;
  }
  .sidemenu__sublinks {
    display: block;
    float: left;
    margin-left: 40px;
    width: 100%;
    a {
      display: block;
      text-decoration: none;
      color: #d2d2d2;
      &:hover {
        color: #fff;
        cursor: pointer;
      }
    }
  }
}