@primary: #F7F7F7;
@secondary: #000;
.navigation {
  background: @primary;
  color: @secondary;
  padding: 20px 30px;
  margin: 0px;
  border: none;
  box-shadow: none;
  opacity: 1;
  z-index: 9;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 23px;
  width: 100vw;
  height: 65px;
  position: sticky;
  top: 5vh;
  ul li {
    list-style-type: none;
    float: right;
    margin: 0px 20px;
  }
  .navigation__list-item {
    text-decoration: none;
    color: @secondary;
    cursor: pointer;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    &:hover {
      color: #3DC67A;
      transition: all 0.3s ease;
    }
  }
  .navigation__logo {
    height: 65px;
    width: 118px;
    background-image: url("../../assets/images/logos/ilite-logo.png");
    background-repeat: no-repeat;
    margin: 0px 10px;
    float: left;
    z-index: 99;
    top: 20px;
    position: fixed;
  }
  @media screen and (max-width: 820px) {
    ul {
      display: none;
    }
    #navigation__burger {
      position: sticky;
      background-image: url("../../assets/images/icons/burger.png");
      z-index: 999;
      width: 50px;
      height: 50px;
      opacity: 1;
      right: 20px;
      margin: 0px;
      top: 7px;
      float: right;
    }
  }
}

@media screen and (max-width: 820px) {
  .navigation {
    padding: 0px;
  }
}