.member {
  margin: 20px auto;
  border: 3px solid #999;
  min-height: 205px;
  width: 90%;
  .member__img {
    display: block;
    height: 200px;
    max-width: 300px;
    float: left;
    border-right: 3px solid #999;
  }
  .member__img.oldimg {
    background-color: black;
    padding: 0 50px;
  }
  .member__content {
    margin-left: 310px;
    padding-top: 20px;
  }
  .member__title {
    font-weight: bold;
    font-size: 200%;
  }
  .member__leader-title {
    color: green;
  }
}