.about__header {
  text-align: left;
  font-size: 36px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.about__subheader {
  text-align: left;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.about__image {
  height: 250px;
  width: 33.33%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10px;
}

.about__greybox {
  width: 95%;
  background-color: #C9C9C9;
  color: #787878;
  padding: 30px;
  margin: 0 auto 15px auto;
  font-size: 16px;
  text-align: left;
  border-radius: 5px;
  background-position: center center;
  background-repeat: no-repeat;
  column-gap: 10px;
  background: -webkit-gradient(radial, center center, 0, center center, 360, from(#E6E6E6), to(#C9C9C9));
  background: -webkit-radial-gradient(circle, #E6E6E6, #C9C9C9);
  background: -moz-radial-gradient(circle, #E6E6E6, #C9C9C9);
  background: -ms-radial-gradient(circle, #E6E6E6, #C9C9C9);
}

.about__text {
  padding-bottom: 10px;
}

.about__quotes {
  height: 12px;
  width: 12px;
  display: inline-block;
}