.get-involved {
  p {
    .text();
    padding-top: 0;
    margin-top: 0;
  }

  .get-involved__header {
    .title();
  }

  .get-involved__buttons {
    text-align: center;
  }

  .get-involved--fullwidth {
    width: 100%;
    text-align: center;
  }

  .get-involved__button {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: @green-2;
    border-radius: 3px;
    padding: 16px 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin: 10px 5px;
    display: inline-block;
    transition: all 0.4s;
  }

  .get-involved__food-container {
    .get-involved__img {
      height: 320px;
      max-width: 200px;
      object-fit: cover;
      float: left;
      margin-top: 15px;
      margin-right: 30px;

      @media (max-width: 468px) {
        margin-right: 300px;
        margin-bottom: 25px;
      }
    }

    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    
  }
  .getinvolved__image {
    height: auto;
    width: 33.33%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10px;
  }
}