
.mediatiles {
  line-height: 0;
  width: 100%;
  margin-right: -15px;
  padding: 5px 5px 5px 5px;
  .mediatiles__tile {
    width:24%;
    min-height:14em;
    line-height: 1.2;
    display:inline-block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    color:#fff;
    font-family:"Verdana",sans-serif;
    text-shadow: 2px 2px 2px #000;
    cursor: pointer;
    cursor: hand;
    background-image: url("../../assets/images/frc/mediatiles/generic-header.jpg");
  }
  .mediatiles .tile:before {
  content: '';
  background-color: rgba(15,15,15,0.5);
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  }
  .mediatiles .tile:hover:before {
  display: none;
  }
  .mediatiles .tile .textWrapper {
  text-align: center;
  vertical-align: middle;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .75em;
  }
  .mediatiles .tile .textWrapper {
  text-align: center;
  vertical-align: middle;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .75em;
  }
  .mediatiles .tile .textWrapper {
  text-align: center;
  vertical-align: middle;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .75em;
  }
  .mediatiles .tile .textWrapper .content {
  display: none;
  }
  .mediatiles .tile:hover .textWrapper .content {
  display: block;
  }
  .mediatiles .tile:hover .textWrapper .content h2 {
  margin: 0;
  } 
  .mediatiles .tile .textWrapper h2{
  color:#fff;
  }
  @media (max-width: 1000px) {
    .mediatiles .tile {
      width: 50%;
    }
  }
  @media (max-width: 700px) {
    .mediatiles .tile {
      width: 100%;
    }
  }
}






