.mediatiles {
  width: 24%;
  min-height: 14em;
  line-height: 1.2;
  float: left;
  overflow: hidden;
  position: relative;
  color: #fff;
  margin: 3px;
  font-family: "Verdana", sans-serif;
  text-shadow: 2px 2px 2px #000;
  background-image: url("../../assets/images/frc/mediatiles/tile.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.mediatiles__content {
  display: none;
  display: block;
}

.mediatiles__content h2 {
  margin: 0;
}

.mediatiles__textWrapper h2 {
  color: #fff;
  font-size: 20px;
}

@media (max-width: 1000px) {
  .mediatiles__tile {
    width: 50%;
  }
}

@media (max-width: 700px) {
  .mediatiles__tile {
    width: 100%;
  }
}