.container {
  padding: 0px;
  width: 100vw;
}

.container.frc {
  background-color: rebeccapurple;
}

.container.cyber {
  background-color: #333;
}

.container__content {
  max-width: 80%;
  margin: 0 auto;
  background-color: #FFF;
  height: auto;
  position: relative;
  z-index: 2;
  padding: 20px;
}

.container__bar {
  background-color: #CECECE;
  width: 100vw;
  height: 50px;
}