.container {
  padding: 0px;
  width: 100vw;
  background: @gray-1;
}

/*.container.frc {
  background: linear-gradient(to bottom right, @purple-ws-1, @purple-ws-3);
}

.container.cyber {
  background-color: #333;
}*/

.container__content {
  max-width: 85%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 50px;
  height: auto;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.container__bar {
  background-color: #CECECE;
  width: 100vw;
  height: 50px;
}