<!-- This file is meant to be deleted-->
<!-- copy all classes, from huge folder, into import -->
<nav id="navigation" class="navigation">
  <a class="nav__logo" href="../ftc.php"></a>

  <div id="burger">

    <div class="nav-mobile"><div id="nav-toggle"><span></span></div></div>
  </div>

  <div class="nav-container">

    <div id="nav__about" class="nav__link">
			About <div class="caret"></div>
			<div class="nav__link__wrapper" id="nav__about__wrapper">
				<a href='../about/about.php' class="nav__link__target">Event Information</a>
				<a href='../about/schedule.php' class="nav__link__target">Schedule</a>
			</div>
		</div>

    <div id="nav__first" class="nav__link">
			Volunteer<div class="caret"></div>
			<div class="nav__link__wrapper" id="nav__first__wrapper">
				<a href='https://my.usfirst.org/FIRSTPortal/Login/VIMS_Login.aspx' class="nav__link__target">Volunteer</a>
			</div>
		</div>

    <div id="nav__community" class="nav__link">
			General <div class="caret"></div>
			<div class="nav__link__wrapper" id="nav__community__wrapper">
				<a href='../general/maps.php' class="nav__link__target">Maps</a>
				<a href='../general/lunch.php' class="nav__link__target">Lunch</a>
			</div>
		</div>


    <div id="nav__involved" class="nav__link action">
		Contact<div class="caret"></div>
			<div class="nav__link__wrapper" id="nav__involved__wrapper">
				<a href='../contactus/contact.php' class="nav__link__target">Contact Us</a>
			</div>
		</div>

  </div>
</nav>
