.news-card {
  flex: 3;
  background-color: @white;
  margin: 0 20px;
  max-width: 405px;

  .news-card__image {
    width: 100%;
    max-width: 405px;
    max-height: 270px;
    margin: 0;
    background-size: cover;
    object-fit: cover;
    padding: 0px;
    border: 0;
    outline: 0;
  }

  .news-card__text-box {
    margin-bottom: 0;
    padding: 20px;
    text-align: left;
  }

  .news-card__title {
    color: @text-1;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .news-card__text {
    outline: 0;
    line-height: 23px;
    color: #727272;
  }

  @media (max-width: 1000px) {
    margin: 0 auto;
    margin-bottom: 5vw;
    width: 80%;
  }

  @media (min-width: 2000px) {
    margin: 0 5%;
  }
}