// image centered all diretions 
//resize photos
//


.news-card { 
    background-color:white;
    margin-right: 4%;
    float: left;
    flex: 3;
    .news-card__image {
        margin: 0;
        background-size: cover;
        padding: 0px;
        border: 0;
        border-radius: 0%;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
    .news-card__text-box {
        margin-bottom: 0;    
    }
    .news-card__title {
        line-height: 23px;
    }
    .news-card__text {
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        font-weight: normal;
        font-style: normal;
        line-height: 23px;
        color: #727272;
    }


}