.fll {
  .fll__header {
    text-align: left;
    font-size: 36px;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  .fll__subheader {
    text-align: left;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  .fll__image {
    height: auto;
    width: 31%;
    margin: 0 1%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10px;

    @media (max-width: 530px) {
      display: block;
      width: 100%;
    }
  }

  .fll__image--lg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10px;
  }

  .fll__text {
    padding-bottom: 10px;
  }
}