.banner {
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  background-size: cover;

  .banner__text {
    padding: 20px;
  }

  .banner__title {
    color: white;
    font-size: 50px;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: @raleway;

    @media screen and (max-width: 950px) {
      line-height: 50px;
      padding-top: 60px;
      font-size: 33px;
    }
  }

  .banner__subtitle {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    font-family: @raleway;
  }
}

.summercamps__banner {
  background-image: url('../../assets/images/frc/background/summer-camps-header.png');
}

.hostedevents__banner {
  background-image: url('../../assets/images/frc/background/hosted-events-banner.png');
}

.media__banner {
  background-image: url('../../assets/images/frc/background/media-banner.png');
}

.calendar__banner {
  background-image: url('../../assets/images/frc/background/calendar-banner.png');
}

.history__banner {
  background-image: url('../../assets/images/frc/background/history-banner.png');
}

.mission__banner {
  background-image: url('../../assets/images/frc/background/mission-banner.png');
}

.team__banner {
  background-image: url('../../assets/images/frc/background/team-banner.png');
}

.get__involved_banner {
  background-image: url('../../assets/images/frc/background/get-involved.png');
}

.sponsors__banner {
  background-image: url('../../assets/images/frc/background/sponsors-banner.png');
}