.banner {
  width: 100vw;
  height: 317px;
  background-image: url("../../assets/images/frc/background/generic-header.jpg");
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  .banner__title {
    text-align: center;
    color: white;
    font-size: 50px;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: @raleway;
  }
  .banner__subtitle {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    font-family: @raleway;
  }
}